<app-top-bar></app-top-bar>

<div class="container">
    <div class="clr-row">
        <div class="clr-col-1">  
        </div>   
        <div class="clr-col-4">
            <app-tree></app-tree>
        </div>
        <div class="clr-col-2">   
        </div> 
        <div class="clr-col-4">
            <app-stack></app-stack>
        </div>
        <div class="clr-col-1">   
        </div> 
        <div class="clr-col-1">   
        </div> 
        <div class="clr-col-10">
            <app-datagrid></app-datagrid>
        </div>
        <div class="clr-col-1"> 
        </div> 
    </div>
</div>